.modal-content{
  display: flex;
  height: 500px;
  width: 427px;
  border-radius: 40px;
  text-align: center;
}
.Signup_container{
  width: 369px;
  text-align: center;
  color: #17404dcf;;
  font-size: 38px;
  font-family: revert;
  font-weight: 700;

}
.signup_modal{
  margin-left:28px;
}
.Signup_label{

  color: #17404dcf;
  font-weight: bold;
}

.d-flex{
  flex-direction: column;
  text-align: left;
  display:flex;
 
    flex-direction:column
}
.inputSignup{
  margin-right:27px;
 
 margin-top:5px;
  width: 330px;



}
.footSignup{
  width:100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #17404d27
}
.Signup_btn{
  
 border-color: #17404dcf ;
 color: #17404dcf;
 background-color: white;
}
.Signup_btn:hover{
  background-color:#17404dcf ;
}
.modalheader{
  border-bottom:1px solid #17404d27
}
.label_container{
  margin-top: 25px;
}